a.drl-btn {
    background: var(--drl-c-primary);
    color: var(--drl-c-bg);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: var(--drl-c-primary);
    transition: all ease-in-out .3s;
}

a.drl-btn.drl-btn-b {
    background: var(--drl-c-primary-b);
}

a.drl-btn.drl-btn-outlined {
    background: var(--drl-c-bg);
    color: var(--drl-c-primary);
    border-color: var(--drl-c-primary);
}

a.drl-btn.drl-btn-b.drl-btn-outlined {
    color: var(--drl-c-primary-b);
    border-color: var(--drl-c-primary-b);
}

a.drl-btn.drl-btn-text {
    background: unset;
    color: var(--drl-c-primary);
    border-color: transparent;
}

a.drl-btn.drl-btn-b.drl-btn-text {
    color: var(--drl-c-primary-b);
}

a.drl-btn.drl-btn-disabled, a.drl-btn.drl-btn-b.drl-btn-text.drl-btn-disabled {
    cursor: not-allowed;
    background: var(--drl-c-opacity-black-1);
    color: var(--drl-c-opacity-black-2);
    border-color: var(--drl-c-opacity-black-1);
}

a.drl-btn:not(.drl-btn-disabled):active {
    background: var(--drl-c-primary);
    color: var(--drl-c-bg);
    border-color: var(--drl-c-primary);
    box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
	-webkit-box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
	-moz-box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
}

a.drl-btn:not(.drl-btn-disabled):hover, a.drl-btn:not(.drl-btn-disabled):focus {
    color: var(--drl-c-bg);
    background: var(--drl-c-primary-accent);
    border-color: var(--drl-c-primary-accent);
    box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
	-webkit-box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
	-moz-box-shadow: 0 4px 10px rgba(5, 219, 91, 0.4)  ; 
}

a.drl-btn.drl-btn-b:not(.drl-btn-disabled):active {
    background: var(--drl-c-primary-b);
    color: var(--drl-c-bg);
    border-color: var(--drl-c-primary-b);
    box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
	-webkit-box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
	-moz-box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
}

a.drl-btn.drl-btn-b:not(.drl-btn-disabled):hover, a.drl-btn.drl-btn-b:not(.drl-btn-disabled):focus {
    color: var(--drl-c-bg);
    background: var(--drl-c-primary-b-accent);
    border-color: var(--drl-c-primary-b-accent);
    box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
	-webkit-box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
	-moz-box-shadow: 0 4px 10px rgba(219, 73, 107, 0.4)  ; 
}

a.drl-btn.drl-btn-outlined:not(.drl-btn-disabled):active {
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-outlined:not(.drl-btn-disabled):hover, a.drl-btn.drl-btn-outlined:not(.drl-btn-disabled):focus {
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-text:not(.drl-btn-disabled):active {
    color: var(--drl-c-bg);
    background: var(--drl-c-primary-accent);
    border-color: var(--drl-c-primary-accent);
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-text:not(.drl-btn-disabled):hover, a.drl-btn.drl-btn-text:not(.drl-btn-disabled):focus {
    color: var(--drl-c-primary-accent);
    background: var(--drl-c-primary-light);
    border-color: var(--drl-c-primary-light);
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-b.drl-btn-text:not(.drl-btn-disabled):active {
    color: var(--drl-c-bg);
    background: var(--drl-c-primary-b-accent);
    border-color: var(--drl-c-primary-b-accent);
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-b.drl-btn-text:not(.drl-btn-disabled):hover, a.drl-btn.drl-btn-b.drl-btn-text:not(.drl-btn-disabled):focus {
    color: var(--drl-c-primary-b-accent);
    background: var(--drl-c-primary-b-light);
    border-color: var(--drl-c-primary-b-light);
    box-shadow: unset; 
	-webkit-box-shadow: unset; 
	-moz-box-shadow: unset; 
}

a.drl-btn.drl-btn-outlined.drl-btn-disabled {
    cursor: not-allowed;
    background: var(--drl-c-bg);
    color: var(--drl-c-opacity-black-2);
    border-color: var(--drl-c-opacity-black-1);
}

@media (max-width: 425px) {
    a.drl-btn {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}