.drl-pv-10,
.drl-pt-10 {
    padding-top: 10px;
}

.drl-pv-20,
.drl-pt-20 {
    padding-top: 20px;
}

.drl-pv-40,
.drl-pt-40 {
    padding-top: 40px;
}

.drl-pv-80,
.drl-pt-80 {
    padding-top: 80px;
}

.drl-pv-100,
.drl-pt-100 {
    padding-top: 100px;
}

.drl-pv-10,
.drl-pb-10 {
    padding-bottom: 10px;
}

.drl-pv-20,
.drl-pb-20 {
    padding-bottom: 20px;
}

.drl-pv-40,
.drl-pb-40 {
    padding-bottom: 40px;
}

.drl-pv-80,
.drl-pb-80 {
    padding-bottom: 80px;
}

.drl-pv-100,
.drl-pb-100 {
    padding-bottom: 100px;
}

.drl-ph-10,
.drl-pl-10 {
    padding-left: 10px;
}

.drl-ph-20,
.drl-pl-20 {
    padding-left: 20px;
}

.drl-ph-40,
.drl-pl-40 {
    padding-left: 40px;
}

.drl-ph-80,
.drl-pl-80 {
    padding-left: 80px;
}

.drl-ph-100,
.drl-pl-100 {
    padding-left: 100px;
}

.drl-ph-10,
.drl-pr-10 {
    padding-right: 10px;
}

.drl-ph-20,
.drl-pr-20 {
    padding-right: 20px;
}

.drl-ph-40,
.drl-pr-40 {
    padding-right: 40px;
}

.drl-ph-80,
.drl-pr-80 {
    padding-right: 80px;
}

.drl-ph-100,
.drl-pr-100 {
    padding-right: 100px;
}

/* Margin */

.drl-mv-10,
.drl-mt-10 {
    margin-top: 10px;
}

.drl-mv-20,
.drl-mt-20 {
    margin-top: 20px;
}

.drl-mv-40,
.drl-mt-40 {
    margin-top: 40px;
}

.drl-mv-80,
.drl-mt-80 {
    margin-top: 80px;
}

.drl-mv-100,
.drl-mt-100 {
    margin-top: 100px;
}

.drl-mv-10,
.drl-mb-10 {
    margin-bottom: 10px;
}

.drl-mv-20,
.drl-mb-20 {
    margin-bottom: 20px;
}

.drl-mv-40,
.drl-mb-40 {
    margin-bottom: 40px;
}

.drl-mv-80,
.drl-mb-80 {
    margin-bottom: 80px;
}

.drl-mv-100,
.drl-mb-100 {
    margin-bottom: 100px;
}

.drl-mh-10,
.drl-ml-10 {
    margin-left: 10px;
}

.drl-mh-20,
.drl-ml-20 {
    margin-left: 20px;
}

.drl-mh-40,
.drl-ml-40 {
    margin-left: 40px;
}

.drl-mh-80,
.drl-ml-80 {
    margin-left: 80px;
}

.drl-mh-100,
.drl-ml-100 {
    margin-left: 100px;
}

.drl-mh-10,
.drl-mr-10 {
    margin-right: 10px;
}

.drl-mh-20,
.drl-mr-20 {
    margin-right: 20px;
}

.drl-mh-40,
.drl-mr-40 {
    margin-right: 40px;
}

.drl-mh-80,
.drl-mr-80 {
    margin-right: 80px;
}

.drl-mh-100,
.drl-mr-100 {
    margin-right: 100px;
}