main section#hero div.wrapper {
  padding: 18px 20px;
  padding-bottom: 0;
}

main section#hero div.wrapper h1 {
  text-align: center;
  line-height: 40.8px;
  color: var(--drl-c-titles);
  margin-bottom: 48px;
}

main section#hero div.wrapper div.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48.3px;
}

main section#hero div.wrapper div.img-container img {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-left: 30px;
}

main section#subhero {
  background: rgba(34, 32, 51, 0.1);
}

main section#subhero div.wrapper {
  padding: 32px 20px 32px 20px;
}

main section#subhero div.wrapper p {
  text-align: center;
  color: var(--drl-c-paragraph);
}

main section#subhero div.wrapper p:last-child {
  font-weight: 700;
}

main section#features {
  background: var(--drl-c-primary);
}

main section#features div.wrapper {
  padding: 32px 24px;
}

main section#features div.wrapper div.item div.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

main section#features div.wrapper div.item div.img-container img {
  width: 100%;
  max-width: 48px;
  height: auto;
}

main section#features div.wrapper div.item p {
  color: var(--drl-c-bg);
  text-align: center;
}

main section#features div.wrapper div.separator {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 272px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  opacity: 0.4;
}

main section#conception div.wrapper {
  padding: 48px 20px;
}

main section#conception div.wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--drl-c-paragraph);
}

main section#conception div.wrapper p:not(:first-child) {
  margin-top: 24px;
  line-height: 22.4px;
  padding-left: 16px;
}

main section#born {
  padding: 48px 20px;
  background: var(--drl-c-primary);
}

main section#born h2 {
  text-align: center;
  color: var(--drl-c-bg);
}

main section#conception2 div.wrapper {
  padding: 48px 20px;
}

main section#conception2 div.wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--drl-c-paragraph);
}

main section#conception2 div.wrapper p:not(:first-child) {
  margin-top: 24px;
}

main section#conception2 div.wrapper p:last-child {
  line-height: 26.4px;
}

main section#dinorank-video {
  background-color: rgba(34, 32, 51, 0.05);
}

main section#dinorank-video div.wrapper {
  padding: 48px 20px;
}

main section#dinorank-video div.wrapper p {
  color: var(--drl-c-paragraph);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

main section#dinorank-video div.wrapper p.drl-Caption1 {
  margin-bottom: 8px;
}

main section#dinorank-video div.wrapper p.drl-Text1 {
  margin-bottom: 19.25px;
}

main section#dinorank-video div.wrapper div.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#dinorank-video div.wrapper div.video-container iframe {
  display: none;
  width: 100%;
  max-width: 280px;
  height: auto;
  padding: 9px;
}

main section#dinorank-video div.wrapper div.video-container img {
  width: 100%;
  max-width: 280px;
  height: auto;
  cursor: pointer;
}

main section#discover-dinorank {
  background-color: #f9f9f9;
}

main section#discover-dinorank div.wrapper {
  padding: 48px 20px;
}

main section#discover-dinorank div.wrapper h2,
main section#discover-dinorank div.wrapper h3 {
  color: var(--drl-c-paragraph);
  text-align: center;
  margin-top: 0;
}

main section#discover-dinorank div.wrapper h2 {
  margin-bottom: 16px;
}

main section#discover-dinorank div.wrapper h3 {
  margin-bottom: 24px;
}

main section#discover-dinorank div.wrapper div.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  margin-left: -24px;
}

main section#discover-dinorank div.wrapper div.img-container img {
  width: 100%;
  max-width: 280px;
  height: auto;
}

main section#discover-dinorank div.wrapper p.drl-Text1 {
  color: var(--drl-c-paragraph);
  text-align: center;
  margin-top: 0;
}

main section#discover-dinorank div.wrapper p.drl-Text1:not(:last-child) {
  margin-bottom: 16ox;
}

main section#discover-dinorank div.wrapper div.btn-wrapper {
  margin-top: 24px;
}

main section#discover-dinorank div.wrapper div.btn-wrapper a {
  text-align: center;
  max-width: 170px;
  margin-left: auto;
  margin-right: auto;
}

main section#knowledge div.wrapper {
  padding: 48px 20px;
}

main section#knowledge div.wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--drl-c-paragraph);
}

main section#knowledge div.wrapper p:not(:last-child) {
  margin-bottom: 16px;
}

main section#community {
  padding: 48px 20px;
  background: var(--drl-c-primary);
}

main section#community h3 {
  text-align: center;
  color: var(--drl-c-bg);
}

main section#live div.wrapper {
  padding: 48px 20px;
}

main section#live div.wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--drl-c-paragraph);
}

main section#live div.wrapper p:not(:last-child) {
  margin-bottom: 16px;
}

main section#live div.wrapper div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

main section#live div.wrapper div.img-wrapper img {
  width: 100%;
  max-width: 310px;
  height: auto;
}

main section#live div.wrapper div.btn-container {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 134px;
}

main section#optimize {
  background: rgba(34, 32, 51, 0.05);
}

main section#optimize div.wrapper {
  padding: 48px 20px;
}

main section#optimize div.wrapper h2 {
  text-align: center;
  color: var(--drl-c-titles);
  line-height: 33.6px;
}

main section#optimize div.wrapper div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#optimize div.wrapper div.img-wrapper img {
  width: 100%;
  max-width: 220px;
  height: auto;
}

@media (min-width: 1024px) {
  main section#hero div.wrapper {
    padding-left: 200px;
    padding-right: 200px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
    padding-bottom: 62px;
    position: relative;
  }
  main section#hero div.wrapper h1 {
    line-height: 57.6px;
  }
  main section#hero div.wrapper div.img-container {
    background: url("/assets/images/wid_hero_dino.png");
    width: 308.57px;
    height: 253px;
    position: absolute;
    top: calc(72% - 125px);
    right: -100px;
  }
  main section#hero div.wrapper div.img-container img {
    display: none;
  }
  main section#features div.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 200px;
  }
  main section#features div.wrapper div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main section#features div.wrapper div.container div.item {
    height: 168px;
  }
  main section#features div.wrapper div.container div.item:not(:last-child) {
    border-right-style: solid;
    border-right-width: 1;
    border-right-color: rgba(255, 255, 255, 0.4);
    margin-right: 57px;
    padding-right: 57px;
  }
  main section#features div.wrapper div.container div.separator {
    display: none;
  }
  main section#conception div.wrapper,
  main section#conception2 div.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 200px 48px 200px;
  }
  main section#born,
  main section#community {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  main section#dinorank-video div.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 200px 48px 200px;
  }
  main section#dinorank-video div.wrapper p.drl-Caption1 {
    margin-bottom: 8px;
  }
  main section#dinorank-video div.wrapper p.drl-Text1 {
    margin-bottom: 19.46px;
  }
  main section#dinorank-video div.wrapper div.video-container img,
  main section#dinorank-video div.wrapper div.video-container iframe {
    max-width: 610px;
  }
  main section#discover-dinorank div.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 200px 48px 200px;
  }
  main section#discover-dinorank div.wrapper h2 {
    margin-bottom: 0;
  }
  main section#discover-dinorank div.wrapper h3 {
    margin-bottom: 48px;
  }
  main section#discover-dinorank div.wrapper div.img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
    margin-left: -80px;
  }
  main section#discover-dinorank div.wrapper div.img-container img {
    width: 100%;
    max-width: 610px;
    height: auto;
  }
  main section#discover-dinorank div.wrapper p.drl-Text1:not(:last-child) {
    margin-bottom: 24ox;
  }
  main section#knowledge div.wrapper {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 72px 200px 48px 200px;
  }
  main section#knowledge div.wrapper p:not(:last-child) {
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=whatisdinorank.css.map */