@media only screen and (max-width: 640px)
{
  main {
    section#testimonials {
      background-color: #f9f9f9;
      height: 1030px;
      overflow-y: hidden;
      div.wrapper {
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        h2 {
          text-align: center;
          margin-top: 0;
          margin-bottom: 24px;
          color: var(--drl-c-titles);
        }
        p {
          text-align: center;
          margin-top: 0;
          margin-bottom: 67px;
          color: var(--drl-c-paragraph);
        }
  
        div.content {
          display: block;
          div.item {
            margin-bottom: 32px;
            background-color: var(--drl-c-bg);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05),
              0px 6px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            div.comilla {
              background: url("../../assets/images/comilla-icon.svg");
              background-size: contain;
              background-repeat: no-repeat;
              width: 28.8px;
              height: 24px;
              margin-bottom: 8px;
            }
  
            p {
              color: var(--drl-c-contrast-bg);
              text-align: left;
              margin-bottom: 16px;
              margin-top: 0;
              line-height: 22.4px;
            }
  
            div.profile {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
  
              div.profile-data {
                margin-left: 16px;
                p {
                  margin-top: 0;
                  margin-bottom: 0;
                  font-weight: 700;
  
                  &:first-child {
                    margin-bottom: 4px;
                  }
  
                  &:last-child {
                    color: var(--drl-c-primary-accent);
                  }
                }
              }
            }
          }
        }
  
        div.bottom {
          position: absolute;
          height: 144px;
          top: calc(1030px - 144px);
          left: 0;
          right: 0;
  
          /* Gradients/Black - 40% */
  
          background: linear-gradient(
            180deg,
            rgba(34, 32, 51, 0.4) 0%,
            rgba(34, 32, 51, 0) 100%
          );
          transform: matrix(1, 0, 0, -1, 0, 0);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
  
          a.drl-btn {
            margin-left: 38.5px;
            margin-right: 38.5px;
            margin-bottom: 48px;
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
    }
  }
}
main {
  section#hero {
    background: rgba(34, 32, 51, 0.05);
    padding-top: 80px;
    div.wrapper {
      padding: 18px 20px;
      padding-bottom: 0;
      h1 {
        text-align: center;
        line-height: 40.8px;
        color: var(--drl-c-titles);
        margin-bottom: 32px;
      }
      p.drl-Text1 {
        color: var(--drl-c-paragraph);
        text-align: center;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 48px;
      }
      div.btn-wrapper {
        max-width: 239px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        a {
          text-align: center;
          text-transform: uppercase;
          padding: 20px 30px;
        }
      }
      div.img-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: -16px;
        img {
          width: 100%;
          max-width: 280px;
          height: auto;
          margin-left: 30px;
        }
      }
    }
  }
  section#data-1 {
    div.wrapper {
      padding: 48px 20px;
      p.drl-Text1 {
        color: var(--drl-c-paragraph);
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }
  section#data-2 {
    background: #f9f9f9;
    div.wrapper {
      padding: 48px 20px;
      h2 {
        line-height: 33.6px;
        text-align: center;
        color: var(--drl-c-titles);
        margin-top: 0;
        margin-bottom: 32px;
      }
      p.drl-Text1 {
        line-height: 26.4px;
        color: var(--drl-c-titles);
        margin-top: 0;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
        &#subtitle {
          text-align: center;
          font-weight: 700;
          margin-top: 48px;
          margin-bottom: 24px;
        }
      }
      div.video-wrapper {
        img {
        }
        iframe {
          display: none;
          margin: 0 20px;
          width: calc(100% - 40px);
        }
      }
      p.drl-Caption1 {
        margin-top: 48px;
        text-align: center;
        line-height: 18px;
        color: var(--drl-c-titles);
        margin-bottom: 24px;
      }
      div.container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        div.item {
          position: relative;
          padding: 22.3px 16px 16px 16px;
          background: var(--drl-c-bg);
          border: 1px solid var(--drl-c-primary-accent);
          box-sizing: border-box;
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05),
            0px 6px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          overflow: hidden;
          width: 90%;
          &:not(:last-child) {
            margin-bottom: 24px;
          }
          div.img-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 14.63px;
          }
          p {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 24px;
            color: var(--drl-c-paragraph);
            text-align: center;
          }
          div.figure {
            position: absolute;
            width: 160px;
            height: 160px;
            right: -60px;
            bottom: -100px;
            border-radius: 50%;
            background: linear-gradient(
              180deg,
              rgba(93, 181, 157, 0.4) 0%,
              rgba(93, 181, 157, 0) 100%
            );
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
    }
  }
  section#banner {
    padding: 48px 20px;
    background: var(--drl-c-primary);
    p {
      line-height: 18px;
      color: var(--drl-c-bg);
      text-align: center;
      margin-top: 0;
      margin-bottom: 24px;
    }
    h2 {
      line-height: 33.6px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      color: var(--drl-c-bg);
    }
  }
  section#data-3 {
    div.wrapper {
      padding: 48px 20px;
      p.drl-Headline3 {
        color: var(--drl-c-titles);
        text-align: center;
        line-height: 26.4px;
        margin-top: 0;
        margin-bottom: 48px;
        text-align: center;
      }
      li {
        &:not(:first-child) {
          margin-top: 36px;
        }
      }
      p.drl-Text1 {
        line-height: 24px;
        color: var(--drl-c-paragraph);
        margin-top: 0;
        margin-bottom: 0;
        &#featured {
          font-weight: 700;
        }
        &:not(:last-child) {
          margin-bottom: 36px;
        }
        div.img-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 48px;
          margin-bottom: 48px;
          img {
            width: 100%;
            max-width: 310px;
            height: auto;
          }
        }
      }
    }
  }
  section#data-4 {
    background: rgba(34, 32, 51, 0.05);
    div.wrapper {
      padding: 48px 20px;
      h2.drl-Headline2 {
        text-align: center;
        line-height: 33.6px;
        margin-top: 0;
        margin-bottom: 48px;
        color: var(--drl-c-titles);
      }
      div.container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        div.item {
          position: relative;
          padding: 24px 24px;
          background: var(--drl-c-bg);
          border: 1px solid var(--drl-c-primary-accent);
          box-sizing: border-box;
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05),
            0px 6px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          overflow: hidden;
          width: 90%;
          &:not(:last-child) {
            margin-bottom: 24px;
          }
          div.img-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 14.63px;
          }
          p.drl-Caption1 {
            margin-top: 0;
            margin-bottom: 16px;
            line-height: 18px;
            color: var(--drl-c-paragraph);
            text-align: center;
          }
          p.drl-Text2 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 22.4px;
            color: var(--drl-c-paragraph);
            text-align: center;
          }
          div.figure {
            position: absolute;
            width: 160px;
            height: 160px;
            right: -60px;
            bottom: -100px;
            border-radius: 50%;
            background: linear-gradient(
              180deg,
              rgba(93, 181, 157, 0.4) 0%,
              rgba(93, 181, 157, 0) 100%
            );
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
    }
  }
  section#testimonials {
    background: #f9f9f9;
    max-height: 1030px;
    overflow-y: hidden;
    div.wrapper {
      padding: 48px 20px;
      position: relative;
      h3.drl-Headline2 {
        color: var(--drl-c-paragraph);
        text-align: center;
        margin-top: 0;
        margin-bottom: 24px;
        line-height: 33.6px;
      }
      p#subtitle {
        line-height: 22.4px;
        text-align: center;
        color: var(--drl-c-paragraph);
        margin-top: 0;
        margin-bottom: 62px;
      }
      div.container {
        display: block;
        div.item {
          padding: 20px 20px;
          background: #ffffff;
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05),
            0px 6px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
          div.img-wrapper {
            margin-bottom: 8px;
            img {
            }
          }
          p.drl-Text2 {
            margin-top: 0;
            margin-bottom: 0;
            color: var(--drl-c-contrast-bg);
            line-height: 22.4px;
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
          div.profile {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            div.avatar-wrapper {
              img {
              }
            }
            div.titles {
              padding-left: 16px;
              p {
                margin-top: 0;
                margin-bottom: 0;
              }
              p.drl-Headline6 {
                color: var(--drl-c-titles);
                line-height: 18px;
              }
              p.drl-Caption3 {
                color: var(--drl-c-primary-accent);
                line-height: 14.4px;
                margin-top: 4px;
              }
            }
          }
        }
      }
      div.bottom-bar {
        position: absolute;
        height: 144px;
        left: 0px;
        right: 0px;
        top: calc(1030px - 144px);
        background: linear-gradient(
          180deg,
          rgba(34, 32, 51, 0.4) 0%,
          rgba(34, 32, 51, 0) 100%
        );
        transform: matrix(1, 0, 0, -1, 0, 0);
        div.btn-wrapper {
          max-width: 243px;
          margin-top: 48px;
          margin-left: auto;
          margin-right: auto;
          transform: matrix(1, 0, 0, -1, 0, 0);
          a {
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }
  section#related-functions {
    div.wrapper {
      padding: 48px 20px;
      h3.drl-Caption1 {
        color: var(--drl-c-titles);
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 16px;
      }
      p#subtitle {
        color: var(--drl-c-paragraph);
        text-align: center;
        line-height: 25.6px;
        margin-top: 0;
        margin-bottom: 40px;
      }
      div.container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        div.item {
          background: #ffffff;
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05),
            0px 6px 20px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          padding: 24px 24px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          &:not(:last-child) {
            margin-bottom: 24px;
          }
          p.drl-Caption1 {
            color: var(--drl-c-titles);
            text-align: center;
            line-height: 18px;
            margin-top: 0;
            margin-bottom: 16px;
          }
          p.drl-Text2 {
            color: var(--drl-c-paragraph);
            text-align: center;
            line-height: 22.4px;
            margin-top: 0;
            margin-bottom: 24px;
          }
          div.btn-wrapper {
            max-width: 232px;
            margin-left: auto;
            margin-right: auto;
            a {
              padding: 10px 44.5px;
              text-align: center;
            }
          }
          div.figure {
            position: absolute;
            width: 316px;
            height: 316px;
            right: -150px;
            bottom: -200px;
            border-radius: 50%;
            background: linear-gradient(
              180deg,
              rgba(93, 181, 157, 0.4) 0%,
              rgba(93, 181, 157, 0) 100%
            );
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
    }
  }
  section#subscribe {
    background: rgba(34, 32, 51, 0.05);
    div.wrapper {
      padding: 32px 28px;
      h3 {
        text-align: center;
        color: var(--drl-c-titles);
        text-align: 26.4px;
        margin-top: 0;
        margin-bottom: 16px;
      }
      div.btn-wrapper {
        max-width: 121px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        padding: 10px 15px;
        a {
          text-align: center;
        }
      }
      div.img-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          max-width: 264px;
          height: auto;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    section#testimonials {
      max-height: 1280px;
      div.wrapper {
        div.container {
          .masonry-wrapper {
            padding: 1.5em;
            max-width: 960px;
            margin-right: auto;
            margin-left: auto;
            .masonry {
              columns: 1;
              column-gap: 35px;

              .masonry-item {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 36px;
              }
            }
          }
        }
        div.bottom-bar {
          top: calc(1280px - 144px);
          div.btn-wrapper {
            max-width: 293px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
  main {
    section#testimonials {
      div.wrapper {
        padding: 72px 20px;
        h3.drl-Headline2,
        p#subtitle,
        div.container.masonry {
          max-width: 1220px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

/* HERO / EXTA */
@media (min-width: 1024px) {
  main {
    section#hero {
      div.wrapper {
        padding: 48px 200px 64px 200px;
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        h1 {
          line-height: 57.6px;
          max-width: 820px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 32px;
        }
        p.drl-Text2 {
          line-height: 28.8px;
          margin-bottom: 48px;
        }
        div.btn-wrapper {
          a {
            padding: 20px 30px;
          }
        }
        div.img-container {
          position: absolute;
          bottom: 0;
          right: calc(1220px - 820px - 300px);
          img {
            max-width: 238px;
          }
        }
      }
    }
    section#related-functions {
      div.wrapper {
        padding-top: 72px;
        padding-bottom: 72px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h3 {
          line-height: 21.6px;
          margin-bottom: 16px;
        }
        p#subtitle {
          line-height: 25.6px;
          margin-bottom: 32px;
        }
        div.container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 24px 40px;
          grid-template-areas: ". . .";
          div.item {
            width: 247px;
            height: 280px;
            margin-bottom: 0 !important;
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            p.drl-Caption1 {
              line-height: 21.6px;
              margin-bottom: 16px;
            }
            p.drl-Text2 {
              line-height: 25.6px;
              margin-bottom: 24px;
            }
          }
        }
      }
    }

    section#subscribe {
      div.wrapper {
        padding-top: 32px;
        padding-bottom: 36px;
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        div.img-wrapper {
          img {
            width: 245.27px;
          }
        }
        div.t-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: 50.73px;
          div.btn-wrapper {
            margin-left: unset;
            margin-right: unset;
            max-width: 150px;
            margin-bottom: 0;
            padding-left: 0;
          }
          h3 {
            text-align: left;
            margin-bottom: 16px;
            line-height: 33.6px;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  main {
    section#hero {
      div.wrapper {
        div.img-container {
          right: calc(1220px - 820px - 250px);
        }
      }
    }
  }
}
/* END HERO / EXTRA */

@media (min-width: 1024px) {
  main {
    section#data-1,
    section#data-3 {
      div.wrapper {
        padding-top: 64px;
        padding-bottom: 72px;
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        p.drl-Headline3 {
          line-height: 33.6px;
          margin-bottom: 48px;
        }
        p.drl-Text1 {
          line-height: 28.8px;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
        }
        div.img-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 64px;
          margin-bottom: 64px;
          img {
            width: 610px;
          }
        }
      }
    }
    section#data-2 {
      div.wrapper {
        padding-top: 72px;
        padding-bottom: 72px;
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        h2 {
          line-height: 43.2px;
          margin-bottom: 64px;
        }
        div.video-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-bottom: 72px;
          img {
            width: 610px;
          }
        }
        p.drl-Caption1 {
          line-height: 21.6px;
          margin-bottom: 48px;
        }
        div.container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 24px 20px;
          grid-template-areas:
            ". ."
            ". .";
          div.item {
            margin-bottom: 0 !important;
            height: 90px;
            div.img-wrapper {
              margin-bottom: 11.33px;
            }
            p {
              line-height: 28.8px;
            }
          }
        }
      }
    }
    section#data-4 {
      div.wrapper {
        padding-top: 72px;
        padding-bottom: 72px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        h2 {
          line-height: 43.2px;
          margin-bottom: 72px;
        }
        div.container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 24px 41px;
          grid-template-areas: ". . .";
          div.item {
            height: 264px;
            margin-bottom: 0!important;
            padding: 24px;
            p.drl-Caption1 {
              line-height: 21.6px;
              margin-bottom: 16px;
            }
            p.drl-Text2 {
              line-height: 25.6px;
            }
          }
        }
      }
    }
  }
}
