@media only screen and (max-width: 640px) {
  main section#testimonials {
    background-color: #f9f9f9;
    height: 1030px;
    overflow-y: hidden;
  }
  main section#testimonials div.wrapper {
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  main section#testimonials div.wrapper h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--drl-c-titles);
  }
  main section#testimonials div.wrapper p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 67px;
    color: var(--drl-c-paragraph);
  }
  main section#testimonials div.wrapper div.content {
    display: block;
  }
  main section#testimonials div.wrapper div.content div.item {
    margin-bottom: 32px;
    background-color: var(--drl-c-bg);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  main section#testimonials div.wrapper div.content div.item div.comilla {
    background: url("../../assets/images/comilla-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 28.8px;
    height: 24px;
    margin-bottom: 8px;
  }
  main section#testimonials div.wrapper div.content div.item p {
    color: var(--drl-c-contrast-bg);
    text-align: left;
    margin-bottom: 16px;
    margin-top: 0;
    line-height: 22.4px;
  }
  main section#testimonials div.wrapper div.content div.item div.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#testimonials div.wrapper div.content div.item div.profile div.profile-data {
    margin-left: 16px;
  }
  main section#testimonials div.wrapper div.content div.item div.profile div.profile-data p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
  }
  main section#testimonials div.wrapper div.content div.item div.profile div.profile-data p:first-child {
    margin-bottom: 4px;
  }
  main section#testimonials div.wrapper div.content div.item div.profile div.profile-data p:last-child {
    color: var(--drl-c-primary-accent);
  }
  main section#testimonials div.wrapper div.bottom {
    position: absolute;
    height: 144px;
    top: calc(1030px - 144px);
    left: 0;
    right: 0;
    /* Gradients/Black - 40% */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 32, 51, 0.4)), to(rgba(34, 32, 51, 0)));
    background: linear-gradient(180deg, rgba(34, 32, 51, 0.4) 0%, rgba(34, 32, 51, 0) 100%);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#testimonials div.wrapper div.bottom a.drl-btn {
    margin-left: 38.5px;
    margin-right: 38.5px;
    margin-bottom: 48px;
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
  }
}

main section#hero {
  background: rgba(34, 32, 51, 0.05);
  padding-top: 80px;
}

main section#hero div.wrapper {
  padding: 18px 20px;
  padding-bottom: 0;
}

main section#hero div.wrapper h1 {
  text-align: center;
  line-height: 40.8px;
  color: var(--drl-c-titles);
  margin-bottom: 32px;
}

main section#hero div.wrapper p.drl-Text1 {
  color: var(--drl-c-paragraph);
  text-align: center;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 48px;
}

main section#hero div.wrapper div.btn-wrapper {
  max-width: 239px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

main section#hero div.wrapper div.btn-wrapper a {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 30px;
}

main section#hero div.wrapper div.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -16px;
}

main section#hero div.wrapper div.img-container img {
  width: 100%;
  max-width: 280px;
  height: auto;
  margin-left: 30px;
}

main section#data-1 div.wrapper {
  padding: 48px 20px;
}

main section#data-1 div.wrapper p.drl-Text1 {
  color: var(--drl-c-paragraph);
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

main section#data-1 div.wrapper p.drl-Text1:not(:last-child) {
  margin-bottom: 32px;
}

main section#data-2 {
  background: #f9f9f9;
}

main section#data-2 div.wrapper {
  padding: 48px 20px;
}

main section#data-2 div.wrapper h2 {
  line-height: 33.6px;
  text-align: center;
  color: var(--drl-c-titles);
  margin-top: 0;
  margin-bottom: 32px;
}

main section#data-2 div.wrapper p.drl-Text1 {
  line-height: 26.4px;
  color: var(--drl-c-titles);
  margin-top: 0;
  margin-bottom: 0;
}

main section#data-2 div.wrapper p.drl-Text1:not(:last-child) {
  margin-bottom: 32px;
}

main section#data-2 div.wrapper p.drl-Text1#subtitle {
  text-align: center;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 24px;
}

main section#data-2 div.wrapper div.video-wrapper iframe {
  display: none;
  margin: 0 20px;
  width: calc(100% - 40px);
}

main section#data-2 div.wrapper p.drl-Caption1 {
  margin-top: 48px;
  text-align: center;
  line-height: 18px;
  color: var(--drl-c-titles);
  margin-bottom: 24px;
}

main section#data-2 div.wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#data-2 div.wrapper div.container div.item {
  position: relative;
  padding: 22.3px 16px 16px 16px;
  background: var(--drl-c-bg);
  border: 1px solid var(--drl-c-primary-accent);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

main section#data-2 div.wrapper div.container div.item:not(:last-child) {
  margin-bottom: 24px;
}

main section#data-2 div.wrapper div.container div.item div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14.63px;
}

main section#data-2 div.wrapper div.container div.item p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--drl-c-paragraph);
  text-align: center;
}

main section#data-2 div.wrapper div.container div.item div.figure {
  position: absolute;
  width: 160px;
  height: 160px;
  right: -20px;
  bottom: -70px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 181, 157, 0.4)), to(rgba(93, 181, 157, 0)));
  background: linear-gradient(180deg, rgba(93, 181, 157, 0.4) 0%, rgba(93, 181, 157, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

main section#banner {
  padding: 48px 20px;
  background: var(--drl-c-primary);
}

main section#banner p {
  line-height: 18px;
  color: var(--drl-c-bg);
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
}

main section#banner h2 {
  line-height: 33.6px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--drl-c-bg);
}

main section#data-3 div.wrapper {
  padding: 48px 20px;
}

main section#data-3 div.wrapper p.drl-Headline3 {
  color: var(--drl-c-titles);
  text-align: center;
  line-height: 26.4px;
  margin-top: 0;
  margin-bottom: 48px;
  text-align: center;
}

main section#data-3 div.wrapper p.drl-Text1 {
  line-height: 24px;
  color: var(--drl-c-paragraph);
  margin-top: 0;
  margin-bottom: 0;
}

main section#data-3 div.wrapper p.drl-Text1#featured {
  font-weight: 700;
}

main section#data-3 div.wrapper p.drl-Text1:not(:last-child) {
  margin-bottom: 36px;
}

main section#data-3 div.wrapper p.drl-Text1 div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

main section#data-3 div.wrapper p.drl-Text1 div.img-wrapper img {
  width: 100%;
  max-width: 310px;
  height: auto;
}

main section#data-4 {
  background: rgba(34, 32, 51, 0.05);
}

main section#data-4 div.wrapper {
  padding: 48px 20px;
}

main section#data-4 div.wrapper h2.drl-Headline2 {
  text-align: center;
  line-height: 33.6px;
  margin-top: 0;
  margin-bottom: 48px;
  color: var(--drl-c-titles);
}

main section#data-4 div.wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section#data-4 div.wrapper div.container div.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 24px 24px;
  overflow: hidden;
}

main section#data-4 div.wrapper div.container div.item:not(:last-child) {
  margin-bottom: 24px;
}

main section#data-4 div.wrapper div.container div.item div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

main section#data-4 div.wrapper div.container div.item p.drl-Text2 {
  line-height: 22.4px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--drl-c-paragraph);
}

main section#data-4 div.wrapper div.container div.item p.drl-Text2:not(:last-child) {
  margin-bottom: 16px;
}

main section#data-4 div.wrapper div.container div.item div.figure {
  position: absolute;
  width: 316px;
  height: 316px;
  right: -180px;
  bottom: -180px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 181, 157, 0.4)), to(rgba(93, 181, 157, 0)));
  background: linear-gradient(180deg, rgba(93, 181, 157, 0.4) 0%, rgba(93, 181, 157, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

main section#testimonials {
  background: #f9f9f9;
  max-height: 1030px;
  overflow-y: hidden;
}

main section#testimonials div.wrapper {
  padding: 48px 20px;
  position: relative;
}

main section#testimonials div.wrapper h3.drl-Headline2 {
  color: var(--drl-c-paragraph);
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 33.6px;
}

main section#testimonials div.wrapper p#subtitle {
  line-height: 22.4px;
  text-align: center;
  color: var(--drl-c-paragraph);
  margin-top: 0;
  margin-bottom: 62px;
}

main section#testimonials div.wrapper div.container {
  display: block;
}

main section#testimonials div.wrapper div.container div.item {
  padding: 20px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

main section#testimonials div.wrapper div.container div.item:not(:last-child) {
  margin-bottom: 32px;
}

main section#testimonials div.wrapper div.container div.item div.img-wrapper {
  margin-bottom: 8px;
}

main section#testimonials div.wrapper div.container div.item p.drl-Text2 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--drl-c-contrast-bg);
  line-height: 22.4px;
}

main section#testimonials div.wrapper div.container div.item p.drl-Text2:not(:last-child) {
  margin-bottom: 16px;
}

main section#testimonials div.wrapper div.container div.item div.profile {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section#testimonials div.wrapper div.container div.item div.profile div.titles {
  padding-left: 16px;
}

main section#testimonials div.wrapper div.container div.item div.profile div.titles p {
  margin-top: 0;
  margin-bottom: 0;
}

main section#testimonials div.wrapper div.container div.item div.profile div.titles p.drl-Headline6 {
  color: var(--drl-c-titles);
  line-height: 18px;
}

main section#testimonials div.wrapper div.container div.item div.profile div.titles p.drl-Caption3 {
  color: var(--drl-c-primary-accent);
  line-height: 14.4px;
  margin-top: 4px;
}

main section#testimonials div.wrapper div.bottom-bar {
  position: absolute;
  height: 144px;
  left: 0px;
  right: 0px;
  top: calc(1030px - 144px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 32, 51, 0.4)), to(rgba(34, 32, 51, 0)));
  background: linear-gradient(180deg, rgba(34, 32, 51, 0.4) 0%, rgba(34, 32, 51, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

main section#testimonials div.wrapper div.bottom-bar div.btn-wrapper {
  max-width: 243px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

main section#testimonials div.wrapper div.bottom-bar div.btn-wrapper a {
  text-transform: uppercase;
  text-align: center;
}

main section#related-functions div.wrapper {
  padding: 48px 20px;
}

main section#related-functions div.wrapper h3.drl-Caption1 {
  color: var(--drl-c-titles);
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

main section#related-functions div.wrapper p#subtitle {
  color: var(--drl-c-paragraph);
  text-align: center;
  line-height: 25.6px;
  margin-top: 0;
  margin-bottom: 40px;
}

main section#related-functions div.wrapper div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#related-functions div.wrapper div.container div.item {
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

main section#related-functions div.wrapper div.container div.item:not(:last-child) {
  margin-bottom: 24px;
}

main section#related-functions div.wrapper div.container div.item p.drl-Caption1 {
  color: var(--drl-c-titles);
  text-align: center;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 16px;
}

main section#related-functions div.wrapper div.container div.item p.drl-Text2 {
  color: var(--drl-c-paragraph);
  text-align: center;
  line-height: 22.4px;
  margin-top: 0;
  margin-bottom: 24px;
}

main section#related-functions div.wrapper div.container div.item div.btn-wrapper {
  max-width: 232px;
  margin-left: auto;
  margin-right: auto;
}

main section#related-functions div.wrapper div.container div.item div.btn-wrapper a {
  padding: 10px 44.5px;
  text-align: center;
}

main section#related-functions div.wrapper div.container div.item div.figure {
  position: absolute;
  width: 316px;
  height: 316px;
  right: -150px;
  bottom: -200px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 181, 157, 0.4)), to(rgba(93, 181, 157, 0)));
  background: linear-gradient(180deg, rgba(93, 181, 157, 0.4) 0%, rgba(93, 181, 157, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

main section#subscribe {
  background: rgba(34, 32, 51, 0.05);
}

main section#subscribe div.wrapper {
  padding: 32px 28px;
}

main section#subscribe div.wrapper h3 {
  text-align: center;
  color: var(--drl-c-titles);
  text-align: 26.4px;
  margin-top: 0;
  margin-bottom: 16px;
}

main section#subscribe div.wrapper div.btn-wrapper {
  max-width: 121px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 10px 15px;
}

main section#subscribe div.wrapper div.btn-wrapper a {
  text-align: center;
}

main section#subscribe div.wrapper div.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#subscribe div.wrapper div.img-wrapper img {
  width: 100%;
  max-width: 264px;
  height: auto;
}

@media (min-width: 768px) {
  main section#testimonials {
    max-height: 1280px;
  }
  main section#testimonials div.wrapper div.container .masonry-wrapper {
    padding: 1.5em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  main section#testimonials div.wrapper div.container .masonry-wrapper .masonry {
    -webkit-columns: 1;
            columns: 1;
    -webkit-column-gap: 35px;
            column-gap: 35px;
  }
  main section#testimonials div.wrapper div.container .masonry-wrapper .masonry .masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 36px;
  }
  main section#testimonials div.wrapper div.bottom-bar {
    top: calc(1280px - 144px);
  }
  main section#testimonials div.wrapper div.bottom-bar div.btn-wrapper {
    max-width: 293px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    -webkit-columns: 3;
            columns: 3;
  }
  main section#testimonials div.wrapper {
    padding: 72px 20px;
  }
  main section#testimonials div.wrapper h3.drl-Headline2,
  main section#testimonials div.wrapper p#subtitle,
  main section#testimonials div.wrapper div.container.masonry {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* HERO / EXTA */
@media (min-width: 1024px) {
  main section#hero div.wrapper {
    padding: 48px 200px 64px 200px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  main section#hero div.wrapper h1 {
    line-height: 57.6px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
  main section#hero div.wrapper p.drl-Text2 {
    line-height: 28.8px;
    margin-bottom: 48px;
  }
  main section#hero div.wrapper div.btn-wrapper a {
    padding: 20px 30px;
  }
  main section#hero div.wrapper div.img-container {
    position: absolute;
    bottom: 0;
    right: calc(1220px - 820px - 300px);
  }
  main section#hero div.wrapper div.img-container img {
    max-width: 238px;
  }
  main section#related-functions div.wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  main section#related-functions div.wrapper h3 {
    line-height: 21.6px;
    margin-bottom: 16px;
  }
  main section#related-functions div.wrapper p#subtitle {
    line-height: 25.6px;
    margin-bottom: 32px;
  }
  main section#related-functions div.wrapper div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 24px 40px;
        grid-template-areas: ". . .";
  }
  main section#related-functions div.wrapper div.container div.item {
    width: 247px;
    height: 280px;
    margin-bottom: 0 !important;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#related-functions div.wrapper div.container div.item p.drl-Caption1 {
    line-height: 21.6px;
    margin-bottom: 16px;
  }
  main section#related-functions div.wrapper div.container div.item p.drl-Text2 {
    line-height: 25.6px;
    margin-bottom: 24px;
  }
  main section#subscribe div.wrapper {
    padding-top: 32px;
    padding-bottom: 36px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section#subscribe div.wrapper div.img-wrapper img {
    width: 245.27px;
  }
  main section#subscribe div.wrapper div.t-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50.73px;
  }
  main section#subscribe div.wrapper div.t-container div.btn-wrapper {
    margin-left: unset;
    margin-right: unset;
    max-width: 150px;
    margin-bottom: 0;
    padding-left: 0;
  }
  main section#subscribe div.wrapper div.t-container h3 {
    text-align: left;
    margin-bottom: 16px;
    line-height: 33.6px;
  }
}

@media (min-width: 1920px) {
  main section#hero div.wrapper div.img-container {
    right: calc(1220px - 820px - 350px);
  }
}

/* END HERO / EXTRA */
@media (min-width: 1024px) {
  main section#data-1 div.wrapper,
  main section#data-3 div.wrapper {
    padding-top: 64px;
    padding-bottom: 72px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
  main section#data-1 div.wrapper p.drl-Headline3,
  main section#data-3 div.wrapper p.drl-Headline3 {
    line-height: 33.6px;
    margin-bottom: 48px;
  }
  main section#data-1 div.wrapper p.drl-Text1,
  main section#data-3 div.wrapper p.drl-Text1 {
    line-height: 28.8px;
  }
  main section#data-1 div.wrapper p.drl-Text1:not(:last-child),
  main section#data-3 div.wrapper p.drl-Text1:not(:last-child) {
    margin-bottom: 32px;
  }
  main section#data-1 div.wrapper div.img-wrapper,
  main section#data-3 div.wrapper div.img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  main section#data-1 div.wrapper div.img-wrapper img,
  main section#data-3 div.wrapper div.img-wrapper img {
    width: 610px;
  }
  main section#data-2 div.wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
  main section#data-2 div.wrapper h2 {
    line-height: 43.2px;
    margin-bottom: 64px;
  }
  main section#data-2 div.wrapper div.video-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 72px;
  }
  main section#data-2 div.wrapper div.video-wrapper img {
    width: 610px;
  }
  main section#data-2 div.wrapper p.drl-Caption1 {
    line-height: 21.6px;
    margin-bottom: 48px;
  }
  main section#data-2 div.wrapper div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 24px 24.33px;
        grid-template-areas: ". . .";
  }
  main section#data-2 div.wrapper div.container div.item {
    margin-bottom: 0 !important;
    height: 164px;
  }
  main section#data-2 div.wrapper div.container div.item div.img-wrapper {
    margin-bottom: 11.33px;
  }
  main section#data-2 div.wrapper div.container div.item p {
    line-height: 28.8px;
  }
  main section#data-4 div.wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
  main section#data-4 div.wrapper h2 {
    line-height: 43.2px;
    margin-bottom: 48px;
  }
  main section#data-4 div.wrapper div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 24px 24px;
        grid-template-areas: ". .";
  }
  main section#data-4 div.wrapper div.container div.item {
    margin-bottom: 0 !important;
  }
  main section#data-4 div.wrapper div.container div.item div.img-wrapper {
    margin-bottom: 16px;
  }
  main section#data-4 div.wrapper div.container div.item p {
    line-height: 25.6px;
  }
}
/*# sourceMappingURL=keyword_research.css.map */