@media only screen and (min-width: 1280px) {
  div.wrapper {
    width: 820px !important;
    padding-left: 310px !important;
    padding-right: 310px !important;
    margin-left: auto;
    margin-right: auto;
  }
  section#hero {
    height: 428px;
  }
  section#hero div.wrapper {
    position: relative;
    padding: 0 !important;
    padding-left: 310px !important;
    padding-right: 310px !important;
  }
  section#hero div.wrapper h1 {
    position: absolute;
    width: 820px;
    left: 0;
    right: 0;
    top: 48px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 120% !important;
    text-align: center !important;
    color: #222033 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  section#hero div.wrapper p.drl-Headline5 {
    position: absolute;
    width: 820px;
    height: 29px;
    left: 0;
    right: 0;
    top: 190px;
    margin-left: auto;
    margin-right: auto;
    /* Desktop/Headline 4 */
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    /* Dark_Blue/Dark_Blue 1 */
    color: #222033;
  }
  section#hero div.wrapper div.btn-wrapper {
    position: absolute;
    width: 820px;
    left: 0;
    right: 0;
    top: 270px;
  }
  section#hero div.wrapper div.img-container {
    width: 238px;
    height: 458px;
    top: 94px;
    bottom: unset !important;
    left: 1080px;
  }
  p.drl-Text1 {
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 160% !important;
    color: #33304d !important;
  }
  section#data-1 div.wrapper div.container {
    margin-bottom: 32px;
  }
  section#data-1 div.wrapper div.container div.item {
    width: 190px !important;
    height: 256px !important;
  }
  section#data-2 div.wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 511px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: relative;
  }
  section#data-2 div.wrapper h3 {
    position: absolute;
    width: 820px;
    left: 310px;
    top: 72px;
  }
  section#data-2 div.wrapper div.container {
    position: absolute;
    width: 820px;
    height: 319px;
    left: 310px;
    top: 172px;
  }
  section#data-2 div.wrapper div.container div.item {
    width: 247px;
    height: 293px !important;
    padding: 0 !important;
    position: relative;
  }
  section#data-2 div.wrapper div.container div.item p {
    position: absolute;
    width: 199px !important;
    height: 156px !important;
    left: 24px !important;
    right: 24px !important;
    top: 24px !important;
    margin-top: 0 !important;
    margin: 0 !important;
    /* Desktop/Text 2 */
    font-family: "Open Sans" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 160% !important;
    /* or 26px */
    text-align: center !important;
    /* Dark_Blue/Dark_Blue 2 */
    color: #33304d !important;
    /* Inside Auto Layout */
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    -ms-flex-item-align: stretch !important;
        -ms-grid-row-align: stretch !important;
        align-self: stretch !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
  }
  section#data-2 div.wrapper div.container div.item a.drl-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 10px 15px !important;
    position: absolute !important;
    width: 199px !important;
    height: 39px !important;
    left: 24px !important;
    right: 24px !important;
    bottom: 24px !important;
    z-index: 2;
    border-radius: 5px !important;
    /* Inside Auto Layout */
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    padding: 0 !important;
    border-width: 0 !important;
  }
  section#final-cta {
    height: 148px !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#final-cta h3 {
    position: static;
    width: 865px;
    height: 68px;
    left: 287.5px;
    top: 40px;
    /* Desktop/Headline 3 */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px !important;
    /* or 34px */
    text-align: center;
    /* 06. White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
    margin: 0 !important;
    margin-left: auto;
    margin-right: auto;
  }
  section#plans-prices div.wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    max-width: 1032px !important;
    position: relative;
  }
  section#plans-prices div.wrapper h2#pp-h2-1,
  section#plans-prices div.wrapper p#pp-p-1,
  section#plans-prices div.wrapper p#pp-p-2,
  section#plans-prices div.wrapper p#pp-p-3,
  section#plans-prices div.wrapper p#pp-p-4,
  section#plans-prices div.wrapper div.plan-picker {
    max-width: 822px !important;
    margin-left: auto;
    margin-right: auto;
  }
  section#plans-prices div.wrapper div.plan-picker {
    display: block !important;
    position: relative;
    padding: 4px;
    width: 205px;
    height: 44px;
    background: rgba(34, 32, 51, 0.1);
    border-radius: 66px;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: absolute;
    width: 51px;
    height: 24px;
    top: calc(50% - 24px / 2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn.left {
    left: 20px;
    right: unset;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn.right {
    left: unset;
    right: 20px;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn.selected {
    padding: 6px 16px !important;
    width: 92px;
    height: 32px;
    top: 4px;
    z-index: 2;
    background: #ffffff;
    /* sd. 1 */
    -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.05), 0px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 555px;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn.selected.left {
    left: 4px;
    right: unset;
  }
  section#plans-prices div.wrapper div.plan-picker a.picker-btn.selected.right {
    left: unset;
    right: 4px;
  }
  section#plans-prices div.wrapper div.plans {
    margin-top: 70px !important;
    margin-bottom: 64px !important;
    position: relative;
    padding: 0px;
    width: 1032px;
    height: 362px;
  }
  section#plans-prices div.wrapper div.plans div.tier1 {
    padding: 0px;
    position: absolute;
    width: 320px !important;
    height: 342px;
    left: 0px;
    top: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 10px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 div.header h3.drl-Headline2 {
    position: absolute;
    width: 234px;
    height: 43px;
    left: 43px;
    top: 40px;
    padding: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 div.header p.drl-Text3 {
    position: absolute;
    width: 280px;
    height: 44px;
    left: 20px;
    top: 87px;
    padding: 0 !important;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px !important;
    text-align: center;
    color: #33304d !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 div.price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 115px;
    left: 20px;
    right: 20px;
    top: 157px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 div.price-box p.drl-Headline2 {
    font-size: 32px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 div.price-box p.drl-Headline2 span {
    font-size: 16px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier1 a.drl-btn {
    padding: 10px 15px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: absolute;
    height: 40px;
    left: 20px;
    right: 20px;
    bottom: 0px;
  }
  section#plans-prices div.wrapper div.plans div.tier1 a.drl-btn img {
    margin-left: 8.68px;
  }
  section#plans-prices div.wrapper div.plans div.tier2 {
    padding: 0px;
    position: absolute;
    width: 320px !important;
    height: 362px;
    left: 356px;
    top: 0px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 10px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.header {
    height: 151px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.header h3.drl-Headline2 {
    position: absolute;
    width: 251px;
    height: 43px;
    left: 30px;
    top: 40px;
    padding: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.header p.drl-Text3 {
    position: absolute;
    width: 280px;
    height: 44px;
    left: 20px;
    top: 87px;
    padding: 0 !important;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px !important;
    text-align: center;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 115px;
    left: 20px;
    right: 20px;
    top: 167px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.price-box p.drl-Headline2 {
    font-size: 32px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier2 div.price-box p.drl-Headline2 span {
    font-size: 16px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier2 a.drl-btn {
    padding: 10px 15px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: absolute;
    height: 40px;
    left: 20px;
    right: 20px;
    bottom: 0px;
  }
  section#plans-prices div.wrapper div.plans div.tier2 a.drl-btn img {
    margin-left: 8.68px;
  }
  section#plans-prices div.wrapper div.plans div.tier3 {
    padding: 0px;
    position: absolute;
    width: 320px !important;
    height: 342px !important;
    left: 712px;
    top: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 10px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 div.header h3.drl-Headline2 {
    position: absolute;
    width: 251px;
    height: 43px;
    left: 43px;
    top: 40px;
    padding: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 div.header p.drl-Text3 {
    position: absolute;
    width: 280px;
    height: 44px;
    left: 20px;
    top: 87px;
    padding: 0 !important;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px !important;
    text-align: center;
    color: #33304d !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 div.price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 115px;
    left: 20px;
    right: 20px;
    top: 157px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 div.price-box p.drl-Headline2 {
    font-size: 32px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 div.price-box p.drl-Headline2 span {
    font-size: 16px !important;
  }
  section#plans-prices div.wrapper div.plans div.tier3 a.drl-btn {
    padding: 10px 15px;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    position: absolute;
    height: 40px;
    left: 20px;
    right: 20px;
    bottom: 0px;
  }
  section#plans-prices div.wrapper div.plans div.tier3 a.drl-btn img {
    margin-left: 8.68px;
  }
  section#plans-prices div.wrapper div.top-dots {
    background-image: url("../../assets/images/home_particles_6.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute;
    width: 64px !important;
    height: 64px !important;
    left: calc(((100vw - 1440px) / 2) - 156px);
    bottom: 0px;
  }
  section#plans-prices div.wrapper div.bottom-dots {
    background-image: url("../../assets/images/home_particles_5.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: absolute;
    width: 140px !important;
    height: 140px !important;
    right: calc(((100vw - 1440px) / 2) - 156px);
    bottom: 54px;
  }
}
/*# sourceMappingURL=nichero.css.map */